.background {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  background-image: url("../img/color-fish-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Buttons */
.paint-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
}

.pink-paint,
.blue-paint,
.dark-pink-paint {
  position: static;
  width: 150px;
  height: 150px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 10;
}

.blue-paint {
  background-image: url("/img/blue-paint.png");
}

.dark-pink-paint {
  background-image: url("/img/dark-pink-paint.png");
}

.pink-paint {
  background-image: url("/img/pink-paint.png");
}

/* Arrow når man er færdig */
.arrow {
  position: relative;
  width: 260px;
  height: 95px;
  margin-bottom: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 10;
  display: none;
  background-image: url("../img/arrow.png");
}


.back-arrow{ /* Min tilbage knap, jeg har placeret nede i venstre hjørne */
  position: fixed;
  bottom: 16px;
  left: 16px;
  border: none;
  background: transparent;
  padding: 8px;
  cursor: pointer;
  z-index: 20;
}


.back-arrow img{
  display: block;
  width: 80px;
  height: auto;
}

/* Fisk */
.first-fish-plain,
.pink-used,
.blue-used,
.dark-pink-used {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 40%;
  height: auto;
  transform: translateX(-50%);
}

.first-fish-plain {
  z-index: 5;
  display: block;
}

.pink-used {
  z-index: 10;
  display: none;
}

.blue-used {
  z-index: 12;
  display: none;
}

.dark-pink-used {
  z-index: 11;
  display: none;
}



/* Animation */
@keyframes moveRight {
  0% {
    transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}

.move-right {
  animation: moveRight 1s forwards;
}

/* Utility */
.hidden {
  display: none !important;
}

.bobbel {
  width: 10%;
  position: absolute;
  left: 10%;
  top: 20%;
}

.bobbel-2 {
  width: 10%;
  position: absolute;
  right: 10%;
  top: 10%;
}

.purple-fish {
    position: absolute;
    top:15%;
    right: 10%;
    z-index: 1;
    width: 70px;
    animation: purple-fish 20s linear infinite;
}

@keyframes purple-fish {
 0% {
    transform: translate(0, 0) scaleX(-1);
  }
  25% {
    transform: translate(-400px, 30px) scaleX(-1);
  }
  50% {
    transform: translate(-900px, 0) scaleX(-1); 
  }
  51% {
    transform: translate(-900px, 0) scaleX(1); 
  }
  75% {
    transform: translate(-400px, -30px) scaleX(1);
  }
  100% {
    transform: translate(0, 0) scaleX(1); 
  }
}

.nemo {
    position: absolute;
    top:25%;
    left: 20%;
    z-index: 1;
    width: 50px;
    animation: nemo 15s linear infinite;
}

@keyframes nemo {
  0% {
    transform: translate(0, 0) scaleX(-1) rotate(0deg);
  }
  25% {
    transform: translate(-100px, 20px) scaleX(-1) rotate(5deg);
  }
  50% {
    transform: translate(-200px, 0) scaleX(-1) rotate(360deg);
  }
  51% {
    transform: translate(-200px, 0) scaleX(1) rotate(0deg);
  }
  75% {
    transform: translate(-100px, -20px) scaleX(1) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) scaleX(1) rotate(0deg);
  }
}

.brown-fish {
    position: absolute;
    top:50%;
    right: 1%;
    z-index: 1;
    width: 70px;
    animation: brown-fish 40s linear infinite;
}

@keyframes brown-fish {
 0% {
    transform: translate(0, 0) scaleX(1);
  }
  15% {
    transform: translate(-500px, 30px) scaleX(1);
  }
  50% {
    transform: translate(-1400px, 0) scaleX(1); 
  }
  51% {
    transform: translate(-1400px, 0) scaleX(-1); 
  }
  75% {
    transform: translate(-500px, -30px) scaleX(-1);
  }
  100% {
    transform: translate(0, 0) scaleX(-1); 
  }
}


.dory {
    position: absolute;
    top:70%;
    left: 15%;
    z-index: 1;
    width: 70px;
    animation: dory 15s linear infinite;
}

@keyframes dory {
  0% {
    transform: translate(0, 0) scaleX(1) 
  }
  25% {
    transform: translate(100px, 20px) scaleX(1) 
  }
  50% {
    transform: translate(200px, 0) scaleX(1) 
  }
  51% {
    transform: translate(200px, 0) scaleX(-1) 
  }
  75% {
    transform: translate(100px, -20px) scaleX(-1) 
  }
  100% {
    transform: translate(0, 0) scaleX(-1) 
  }
}