.background {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  background-image: url("../img/color-fish-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* først skjuler jeg de andre runder */
.fish-2,
.paint-buttons-2 {
  display: none;
}

/* Buttons til første runde*/
.paint-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
  position: relative;
  z-index: 20;
}

.pink-paint,
.blue-paint,
.dark-pink-paint {
  position: static;
  width: 150px;
  height: 150px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;
}

.blue-paint {
  background-image: url("../img/blue-paint.png");
}

.dark-pink-paint {
  background-image: url("../img/dark-pink-paint.png");
}

.pink-paint {
  background-image: url("../img/pink-paint.png");
}

.paint-buttons-2 {
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
  position: relative;
  z-index: 20;
}

.light-purple-paint,
.medium-light-purple-paint,
.medium-purple-paint,
.dark-purple-paint {
  position: static;
  width: 150px;
  height: 150px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 20;
}

.light-purple-paint {
  background-image: url("../img/light-purple-paint.png");
}

.medium-light-purple-paint {
  background-image: url("../img/medium-light-purple-paint.png");
}

.medium-purple-paint {
  background-image: url("../img/medium-purple-paint.png");
}

.dark-purple-paint {
  background-image: url("../img/dark-purple-paint.png");
}


/* Arrow når man er færdig */
.arrow {
  position: relative;
  width: 260px;
  height: 95px;
  margin-bottom: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 10;
  display: none;
  background-image: url("../img/arrow.png");
}










.back-arrow{ /* Min tilbage knap, jeg har placeret nede i venstre hjørne */
  position: absolute;
  bottom: 10px;
  left: 16px;
  width: 150px;
  height: 150px;
  border: none;
  background-image: url("../img/back-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  padding: 8px;
  cursor: pointer;
  z-index: 20;
}


.back-arrow img{
  display: block;
  width: 80px;
  height: auto;
}

/* pynt i baggrunden */
.purple-seaweed-big {
    position: absolute;
    top: 32%;
    left: 1%;
    z-index: 2;
    width: 230px;
}

.purple-seaweed {
    position: absolute;
    top: 72%;
    left: 1%;
    z-index: 2;
    width: 150px;
}

.stone-big {
    position: absolute;
    bottom: 7%;
    left: 4%;
    z-index: 5;
    width: 240px;
}

.stone-small-2 {
    position: absolute;
    bottom: 9%;
    left: 20%;
    z-index: 5;
    width: 100px;
}

.green-seaweed-3 {
    position: absolute;
    top: 63%;
    left: 9%;
    z-index: 2;
    width: 200px;
}

.yellow-seaweed-3 {
    position: absolute;
    top: 73%;
    left: 14%;
    z-index: 3;
    width: 150px;
}

.seagrass {
    position: absolute;
    bottom: 12%;
    left: 22%;
    z-index: 4;
    width: 80px;
}

.seagrass-small {
    position: absolute;
    bottom: 10%;
    left: 27%;
    z-index: 4;
    width: 60px;
}

.seagrass-mini {
    position: absolute;
    bottom: 5%;
    right: 26%;
    z-index: 4;
    width: 40px;
}

.pink-seaweed {
    position: absolute;
    bottom: 5%;
    right: 20%;
    z-index: 3;
    width: 120px;
}

.seagrass-big {
    position: absolute;
    bottom: 5%;
    right: 16%;
    z-index: 4;
    width: 130px;
}

.green-seagrass-tall {
    position: absolute;
    bottom: 3%;
    right: 0.5%;
    z-index: 4;
    width: 250px;
}

.stone-big-round {
    position: absolute;
    bottom: 1%;
    right: 6%;
    z-index: 5;
    width: 150px;
}

.stone-tiny {
    position: absolute;
    bottom: 4%;
    right: 17%;
    z-index: 5;
    width: 100px;
}

/* første Fisks farver */
.first-fish-plain,
.pink-used,
.blue-used,
.dark-pink-used {
  position: absolute;
  bottom: 25%;
  left: 50%;
  width: 40%;
  height: auto;
  transform: translateX(-50%);
}

.first-fish-plain {
  z-index: 5;
  display: block;
}

.pink-used {
  z-index: 10;
  display: none;
}

.blue-used {
  z-index: 12;
  display: none;
}

.dark-pink-used {
  z-index: 11;
  display: none;
}

/* Runde 2 plain og farvede fisk */
.light-purple-used,
.medium-light-purple-used,
.medium-purple-used,
.dark-purple-used {
  position: absolute;
  bottom: 35%;
  left: 50%;
  width: 40%;
  height: auto;
  transform: translateX(-50%);
}

.second-fish-plain {
  position: absolute;
  bottom: 35%;
  left: 50%;
  width: 40%;
  height: auto;
  /* INGEN transform her! */
  display: none;
  z-index: 5;
}

/* Z-index for at farvede fisk ligger over plain fisk */
.second-fish-plain { 
  z-index: 5; 
  display: none; 
}

.light-purple-used { 
  z-index: 10; 
  display: none; }

.medium-light-purple-used { 
  z-index: 11; 
  display: none; }

.medium-purple-used { 
  z-index: 12; 
  display: none; }

.dark-purple-used { 
  z-index: 13; 
  display: none; }



/* Animation til at de farvede fisk skal svømme ud*/
@keyframes moveRight {
  0% {
    transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}

.move-right {
  animation: moveRight 1s forwards;
}

/* Utility */
.hidden {
  display: none !important;
}

/* animation til at de "plain" fisk skal svømme ind fra venstre */
@keyframes moveInFromLeft {
  0% {
    transform: translateX(-150%) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

.move-in {
  animation: moveInFromLeft 1s forwards;
}

/* start animation til anden runde (fisk svømmer ind) */
@keyframes moveIn2 {
  0% {
    transform: translateX(-150%) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

.move-in-2 {
  animation: moveIn2 1s forwards;
}



/* boble gifs */
.bobbel {
  width: 10%;
  position: absolute;
  left: 10%;
  top: 20%;
}

.bobbel-2 {
  width: 10%;
  position: absolute;
  right: 10%;
  top: 10%;
}

/* fisk i baggrunden */
.purple-fish {
    position: absolute;
    top:15%;
    right: 10%;
    z-index: 1;
    width: 70px;
    animation: purple-fish 20s linear infinite;
}

@keyframes purple-fish {
 0% {
    transform: translate(0, 0) scaleX(-1);
  }
  25% {
    transform: translate(-400px, 30px) scaleX(-1);
  }
  50% {
    transform: translate(-900px, 0) scaleX(-1); 
  }
  51% {
    transform: translate(-900px, 0) scaleX(1); 
  }
  75% {
    transform: translate(-400px, -30px) scaleX(1);
  }
  100% {
    transform: translate(0, 0) scaleX(1); 
  }
}

/* fisk i baggrunden */
.nemo {
    position: absolute;
    top:25%;
    left: 20%;
    z-index: 1;
    width: 50px;
    animation: nemo 15s linear infinite;
}

@keyframes nemo {
  0% {
    transform: translate(0, 0) scaleX(-1) rotate(0deg);
  }
  25% {
    transform: translate(-100px, 20px) scaleX(-1) rotate(5deg);
  }
  50% {
    transform: translate(-200px, 0) scaleX(-1) rotate(360deg);
  }
  51% {
    transform: translate(-200px, 0) scaleX(1) rotate(0deg);
  }
  75% {
    transform: translate(-100px, -20px) scaleX(1) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) scaleX(1) rotate(0deg);
  }
}

/* fisk i baggrunden */

.brown-fish {
    position: absolute;
    top:50%;
    right: 1%;
    z-index: 1;
    width: 70px;
    animation: brown-fish 40s linear infinite;
}

@keyframes brown-fish {
 0% {
    transform: translate(0, 0) scaleX(1);
  }
  15% {
    transform: translate(-500px, 30px) scaleX(1);
  }
  50% {
    transform: translate(-1400px, 0) scaleX(1); 
  }
  51% {
    transform: translate(-1400px, 0) scaleX(-1); 
  }
  75% {
    transform: translate(-500px, -30px) scaleX(-1);
  }
  100% {
    transform: translate(0, 0) scaleX(-1); 
  }
}

/* fisk i baggrunden */
.dory {
    position: absolute;
    top:70%;
    left: 15%;
    z-index: 1;
    width: 70px;
    animation: dory 15s linear infinite;
}

@keyframes dory {
  0% {
    transform: translate(0, 0) scaleX(1) 
  }
  25% {
    transform: translate(100px, 20px) scaleX(1) 
  }
  50% {
    transform: translate(200px, 0) scaleX(1) 
  }
  51% {
    transform: translate(200px, 0) scaleX(-1) 
  }
  75% {
    transform: translate(100px, -20px) scaleX(-1) 
  }
  100% {
    transform: translate(0, 0) scaleX(-1) 
  }
}